* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondaty: #141418;
    --bg-darkmode: rgb(24, 49, 83, 1);

}

body {
    margin: 0;
    padding: 0;
    color: black;
    background-color: var(--bg-darkmode);
    overflow: hidden;
}

p {
    border-bottom: gray;
    border-width: 0px;
    border-bottom-width: 1px;
    width: 70%;
    text-align: center;
    border-style: solid;
    padding-bottom: 20px;
}

.login-area {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.textos {
    margin-bottom: 10px;
    font-family: "Oswald";
}

.form-area {
    width: 40%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 15px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 18px;
}

.label-form {
    font-family: "Oswald";
    font-size: 20px;
    font-weight: bold;
}

.senha-texto {
    
}

.input-text {
    width: 60%;
    border-radius: 15px;
    height: 7%;
    font-size: 13px;
    padding-left: 15px;
}

.input-submit {
    width: 50%;
    padding: 6px;
    font-family: "Oswald";
    font-size: 17px;
    letter-spacing: 1px;
    background-color: var(--bg-darkmode);
    color: white;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
